    <!-- Pricing Section -->
<style>
    .soft-edges {
        mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    }
</style>
<section id="pricing" class="pricing section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Ürünlerİmİz</h2>
        <p>Her biri sektör ihtiyaçlarına göre optimize edilmiş ürün yelpazemizle, iş süreçlerinizi kolaylaştırmaya hazırız.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="pricing-item">
                    <h3>Temel Fiber Optik Eğitimi</h3>
                    <img src="~/web/assets/img/portfolio/image (56).png"
                         alt="Temel Fiber Optik Eğitimi"
                         class="img-fluid mb-3 soft-edges"
                         loading="lazy">
                    @* <h4><sup>$</sup>0<span></span></h4> *@
                    <ul>
                        <li><i class="bi bi-check"></i> <span>Fiber optik nedir ve nasıl çalışır?</span></li>
                        <li><i class="bi bi-check"></i> <span>Fiber tipleri ve yapısal özellikleri</span></li>
                        <li><i class="bi bi-check"></i> <span>Işık iletimi ve kayıplar</span></li>
                        <li><i class="bi bi-check"></i> <span>Fiber optik kabloların kurulumu ve bakımı</span></li>
                        <li><i class="bi bi-check"></i> <span>Temel ölçüm ve test yöntemleri</span></li>
                        <li><i class="bi bi-check"></i> <span>Güvenlik ve doğru kullanım pratikleri</span></li>
                    </ul>
                </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="pricing-item featured">
                    <h3>Okullar İçin Dönemlik Fiber Optik Laboratuvar Deneyleri</h3>
                    <img src="~/web/assets/img/portfolio/image (59).png"
                         alt="Okullar İçin Dönemlik Fiber Optik Laboratuvar Deneyleri"
                         class="img-fluid mb-3 soft-edges"
                         loading="lazy">
                    @* <h4><sup>$</sup>29<span> </span></h4> *@
                    <ul>
                        <li><i class="bi bi-check"></i> <span>Geleceğin teknolojilerini yakından tanımak ve öğrencilere temel iletişim altyapısı bilgileri kazandırmak amacıyla fiber optik eğitim programımız, okul seviyesine uygun olarak tasarlanmıştır.</span></li>
                        <li><i class="bi bi-check"></i> <span>Bu program sayesinde öğrenciler, fiber optik teknolojisinin temel kavramlarını öğrenirken, uygulamalı deneyimler de kazanabilirler.</span></li>
                        <li><i class="bi bi-check"></i> <span>Bu laboratuvar dersi, öğrencilerin fiber optik iletişim sistemlerinin temel prensiplerini, bileşenlerini ve ölçüm tekniklerini uygulamalı olarak öğrenmesini amaçlamaktadır. </span></li>
                    </ul>
                    @* <a href="#" class="buy-btn">Buy Now</a> *@
                </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="pricing-item">
                    <h3>Lisansüstü Araştırmacılar İçin İleri Düzey Fiber Optik Deneyler</h3>
                    <img src="~/web/assets/img/portfolio/image (62).png"
                         alt="Lisansüstü Araştırmacılar İçin İleri Düzey Fiber Optik Deneyler"
                         class="img-fluid mb-3 soft-edges"
                         loading="lazy">
                    @* <h4><sup>$</sup>49<span></span></h4> *@
                    <ul>
                        <li><i class="bi bi-check"></i> <span>Dünyanın her yerinden laboratuvara erişebilirsiniz.</span></li>
                        <li><i class="bi bi-check"></i> <span>Burs veya araştırmacı olmak için kabul almanıza gerek yok.</span></li>
                        <li><i class="bi bi-check"></i> <span>Simülasyon yerine gerçek fiber optik sistemlerle çalışabilir sonuçlarınızı doğrulayabilirsiniz.</span></li>
                        <li>
                            <i class="bi bi-check"></i> <span>
                                Otomatik veri toplama ve analiz araçlarıyla verilere hızlıca erişip ve analiz yapabilirsiniz, tüm sonuçlar kayıt altında.

                            </span>
                        </li>
                    </ul>
                    @* <a href="#" class="buy-btn">Buy Now</a> *@
                </div>
            </div><!-- End Pricing Item -->

        </div>

    </div>

</section><!-- /Pricing Section -->