    <!-- Pricing Section -->
<style>
    .soft-edges {
        mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    }
</style>
<section id="pricing" class="pricing section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Ürünlerİmİz</h2>
        <p>Her biri sektör ihtiyaçlarına göre optimize edilmiş ürün yelpazemizle, iş süreçlerinizi kolaylaştırmaya hazırız.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="pricing-item">
                    <h3></h3>
                    <img src="~/web/assets/img/portfolio/img1.jpeg"
                         alt=""
                         class="img-fluid mb-3 soft-edges"
                         loading="lazy">
                    @* <h4><sup>$</sup>0<span></span></h4> *@
                    <ul>
                        <li><i class="bi bi-check"></i> <span>Kafamdaki tasarım acaba pratikte çalışıyor mu?</span></li>
                        <li><i class="bi bi-check"></i> <span>Simülasyonu yaptım ama gerçek ortamda sonuçlar tutarlı mı?</span></li>
                        <li><i class="bi bi-check"></i> <span>Fiziki bir deney ortamı kurmanın maliyeti çok mu yüksek?</span></li>
                        <li class="na"><i class="bi bi-x"></i> <span>Pasif fiber optik komponentlerin kontrolü henüz sizde değil</span></li>
                    </ul>
                </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="pricing-item featured">
                    <h3></h3>
                    <img src="~/web/assets/img/portfolio/img2.jpeg"
                         alt="Free Plan Görseli"
                         class="img-fluid mb-3 soft-edges"
                         loading="lazy">
                    @* <h4><sup>$</sup>29<span> </span></h4> *@
                    <ul>
                        <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                        <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                        <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                        <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li>
                        <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                    </ul>
                    @* <a href="#" class="buy-btn">Buy Now</a> *@
                </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="pricing-item">
                    <h3></h3>
                    <img src="~/web/assets/img/portfolio/img3.jpeg"
                         alt="Free Plan Görseli"
                         class="img-fluid mb-3 soft-edges"
                         loading="lazy">
                    @* <h4><sup>$</sup>49<span></span></h4> *@
                    <ul>
                        <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                        <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                        <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                        <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li>
                        <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                    </ul>
                    @* <a href="#" class="buy-btn">Buy Now</a> *@
                </div>
            </div><!-- End Pricing Item -->

        </div>

    </div>

</section><!-- /Pricing Section -->