<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Görüşlerİnİz</h2>
        <p>Müşteri memnuniyetine verdiğimiz önem, sizlerin değerli görüşleriyle daha da güçleniyor.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
            </script>
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/web/assets/img/person/person-m-9.webp" class="testimonial-img" alt="">
                        <h3>Murat B.</h3>
                        <h4>Elektrik-Elektronik Mühendisliği Öğrencisi</h4>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            <span>Fiber optik teknolojilerine ilgim vardı ama nereden başlayacağımı bilmiyordum. RealFOLab ile hem teorik bilgileri öğrendim hem de uzaktan erişimle gerçek deneyler yapabildim. Çok verimli ve öğretici bir süreçti</span>
                            <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/web/assets/img/person/person-f-5.webp" class="testimonial-img" alt="">
                        <h3>Elif K.</h3>
                        <h4>Fizik Öğretmeni</h4>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            <span>Öğrencilerim için teknoloji temelli bir deneyim arıyordum. RealFOLab, hem içerik hem uygulama açısından mükemmel bir platform sundu. Öğrencilerim deneyleri uzaktan yaparken konuları çok daha iyi kavradı.</span>
                            <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/web/assets/img/person/person-f-12.webp" class="testimonial-img" alt="">
                        <h3>Selin A.</h3>
                        <h4>Telekom Sektöründe Çalışan</h4>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            <span>Saha mühendisi olarak birçok ekipmanla çalıştım ama bu platform sayesinde fiber optik sistemleri daha derinlemesine anlama fırsatı yakaladım. Uzaktan deney yapabilmek, iş saatleri dışında bile pratik yapabilmemi sağladı.</span>
                            <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/web/assets/img/person/person-m-12.webp" class="testimonial-img" alt="">
                        <h3>Kenan T.</h3>
                        <h4>Proje Koordinatörü</h4>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            <span>Disiplinler arası bir çalışmamızda optik analizlere ihtiyaç duyduk. Platformun altyapısı ve kullanıcı desteği sayesinde farklı alanlardan uzmanlar bir araya gelerek aynı deney ortamında çalışabildi.</span>
                            <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</section><!-- /Testimonials Section -->