   <!-- Portfolio Section -->
<section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Altyapı</h2>
        <p>Laboratuvar altyapımız, ileri düzey fiber optik deneylerin gerçekleştirilmesine olanak sağlayan son teknoloji cihazlarla donatılmıştır. Gelişmiş ölçüm sistemleri, uzaktan erişim desteği ve otomatik veri toplama modülleri ile kullanıcılarımıza güvenli, hızlı ve verimli bir deney ortamı sunuyoruz.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">Hepsi</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-product">Card</li>
                <li data-filter=".filter-branding">Web</li>
            </ul><!-- End Portfolio Filters -->

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="~/web/assets/img/portfolio/img1.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4></h4>
                        <p></p>
                        <a href="~/web/assets/img/portfolio/img1.jpeg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="/Portfolio/Index/" title="Detaylar" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                    <img src="~/web/assets/img/portfolio/img2.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4></h4>
                        <p></p>
                        <a href="~/web/assets/img/portfolio/img2.jpeg" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="Detaylar" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                    <img src="~/web/assets/img/portfolio/img3.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4></h4>
                        <p></p>
                        <a href="~/web/assets/img/portfolio/img3.jpeg" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="Detaylar" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="~/web/assets/img/portfolio/img4.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4></h4>
                        <p></p>
                        <a href="~/web/assets/img/portfolio/img4.png" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="Detaylar" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                    <img src="~/web/assets/img/portfolio/img5.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4></h4>
                        <p></p>
                        <a href="~/web/assets/img/portfolio/img5.png" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="Detaylar" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                    <img src="~/web/assets/img/portfolio/img6.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4></h4>
                        <p></p>
                        <a href="~/web/assets/img/portfolio/img6.jpeg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="Detaylar" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="~/web/assets/img/portfolio/img12.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4></h4>
                        <p></p>
                        <a href="~/web/assets/img/portfolio/img12.jpeg" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="Detaylar" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                    <img src="~/web/assets/img/portfolio/img8.webp" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4></h4>
                        <p></p>
                        <a href="~/web/assets/img/portfolio/img8.webp" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="Detaylar" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                    <img src="~/web/assets/img/portfolio/img9.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4></h4>
                        <p></p>
                        <a href="~/web/assets/img/portfolio/img9.jpeg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="Detaylar" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

            </div><!-- End Portfolio Container -->

        </div>

    </div>

</section><!-- /Portfolio Section -->