
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<main class="main">
@await Component.InvokeAsync("_DefaultSliderComponentPartial")

@await Component.InvokeAsync("_DefaultClientsComponentPartial")

@await Component.InvokeAsync("_DefaultAboutComponentPartial")

@await Component.InvokeAsync("_DefaultWhyUsComponentPartial")

@await Component.InvokeAsync("_DefaultSkillsComponentPartial")

@await Component.InvokeAsync("_DefaultServicesComponentPartial")

@await Component.InvokeAsync("_DefaultWorkComponentPartial")

@await Component.InvokeAsync("_DefaultCallComponentPartial")

@await Component.InvokeAsync("_DefaultPortfolioComponentPartial")

@await Component.InvokeAsync("_DefaultTeamComponentPartial")

@await Component.InvokeAsync("_DefaultPricingComponentPartial")

@await Component.InvokeAsync("_DefaultTestimonialsComponentPartial")

@await Component.InvokeAsync("_DefaultFaqComponentPartial")

@await Component.InvokeAsync("_DefaultSubscribeComponentPartial")

@await Component.InvokeAsync("_DefaultBlogComponentPartial")


@await Component.InvokeAsync("_DefaultContactComponentPartial")
</main>