@using WebProject.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> localizer

<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@localizer["AboutTitle"]</h2>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-11 content" data-aos="fade-up" data-aos-delay="100">
                <p>
                    @localizer["AboutDescription"]
                </p>
                <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>@localizer["AboutFeature1"]</span></li>
                </ul>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <a href="/About/Index/" class="read-more">
                    <span>@localizer["ReadMore"]</span><i class="bi bi-arrow-right"></i>
                </a>
            </div>

        </div>

    </div>

</section><!-- /About Section -->
