<!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
                <h5>
                    Kafamdaki tasarım acaba pratikte çalışıyor mu?
                    Simülasyonu yaptım ama gerçek ortamda sonuçlar tutarlı mı?
                    Fiziki bir deney ortamı kurmanın maliyeti çok mu yüksek?
                    </h5>
                <h1>RealFOLab ile,</h1>
                <p>Gerçek fiber optik laboratuvarında deney yapmak artık çok kolay….</p>
                    <div class="d-flex">
                    <a href="/Appointment/Index/" class="btn-get-started">Randevu Al</a>
                    <a href="https://www.thorlabs.com/pm5020Web/pm5020.cfm?fullscreen=yes " class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Video</span></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="~/web/assets/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- /Hero Section -->