@using WebProject.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> localizer

@{
    ViewData["Title"] = localizer["AboutTitle"];
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="page-title" data-aos="fade">
    <div class="container">
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/Default/Index/">@localizer["Home"]</a></li>
                <li class="current">@localizer["AboutUs"]</li>
            </ol>
        </nav>
    </div>
</div>

@await Component.InvokeAsync("_DefaultAboutComponentPartial")

@await Component.InvokeAsync("_DefaultWhyUsComponentPartial")
