@model WebProject.Models.Appointment
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="page-title" data-aos="fade">
    <div class="container">
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/Default/Index/">Anasayfa</a></li>
                <li class="current">Randevu Al</li>
            </ol>
        </nav>
    </div>
</div>
@await Component.InvokeAsync("_AppointmentComponentPartial")